#index {
  .carousel-image {
    width: 100%;
  }

  .hero-unit {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    padding: 60px;
    margin-bottom: 20px;
  }

  .marketing {
    .col-lg-4, .col-md-4 {
      margin-bottom: 20px;
      text-align: center;
      p {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    h2 {
      font-weight: normal;
    }
  }
}
