<div class="modal-header">
    <h3 class="modal-title">
        Add a new user.
        <button class="close"
            type="button"
            ng-click="cancel()">
            &times;
        </button>
        <!-- /.close -->
    </h3>
    <!-- /.modal-title -->
</div><!-- /.modal-header -->


<div class="modal-body form-horizontal">

    <!--Input for Name-->
    <div class="form-group">
        <label for="name"
            class="col-sm-4 control-label"> Name </label><!-- /.col-sm-4 control-label -->
        <div class="col-sm-8">
            <input type="text"
                class="form-control"
                id="name"
                ng-model="newUser.name"
                placeholder="Name" /><!-- /#name.form-control -->
        </div>
        <!-- /.col-sm-8 -->
    </div>
    <!-- /.form-group -->


    <!--Input for Subscription Type-->
    <div class="form-group">
        <label for="userType"
            class="col-sm-4 control-label"> Subscription Type </label><!-- /.col-sm-4 control-label -->
        <div class="col-sm-8">
            <input type="text"
                class="form-control"
                id="userType"
                ng-model="newUser.userType"
                placeholder="Subscription Type" /><!-- /#userType.form-control -->
        </div>
        <!-- /.col-sm-8 -->
    </div>
    <!-- /.form-group -->

    <!--Input for Loyalty Score-->
    <div class="form-group">
        <label for="loyalty"
            class="col-sm-4 control-label"> Loyalty Score </label><!-- /.col-sm-4 control-label -->
        <div class="col-sm-8">
            <input type="number"
                class="form-control"
                id="loyalty"
                ng-model="newUser.loyalty"
                placeholder="Loyalty Score" /><!-- /#loyalty.form-control -->
        </div>
        <!-- /.col-sm-8 -->
    </div>
    <!-- /.form-group -->

    <!--Input for Date of Joining-->
    <div class="form-group">
        <label for="joinDate"
            class="col-sm-4 control-label"> Date of Joining </label><!-- /.col-sm-4 control-label -->
        <div class="col-sm-8">
            <input type="date"
                class="form-control"
                id="joinDate"
                ng-model="newUser.joinDate"
                placeholder="Date of Joining" /><!-- /#joinDate.form-control -->
        </div>
        <!-- /.col-sm-8 -->
    </div>
    <!-- /.form-group -->

</div><!-- /.modal-body form-horizontal -->

<div class="modal-footer">
    <button class="btn btn-success"
        ng-click="saveNewUser()">
        Save User
    </button>
    <!-- /.btn btn-success -->
    <button class="btn btn-warning"
        ng-click="cancel()">Cancel
    </button>
    <!-- /.btn btn-warning -->
</div><!-- /.modal-footer -->
