<div class="container" id="gallery">
    <h1>Gallery</h1>

    <div class="thumbnails">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            ng-repeat="picture in pictures">
            <img ng-src="{{ picture.url }}" width="300" height="180" />

            <div>
                <rating ng-model="rate"
                    max="max"
                    readonly="isReadonly"></rating>
            </div>

            <h3>{{ picture.title }}</h3>

            <p>{{ picture.summary }}</p>
        </div>
        <!-- /.col-lg-4 col-md-4 col-sm-6 col-xs-12 -->
    </div>
    <!-- /.thumbnails -->
</div><!-- /#gallery.container -->
