<div id="index">
    <carousel interval="setInterval">
        <slide ng-repeat="slide in slides"
               active="slide.active">
            <img class="carousel-image"
                 ng-src="{{ slide.image }}" />
            <!-- /.carousel-image -->
            <div class="carousel-caption">
                <h2>{{ slide.title }}</h2>

                <p>{{ slide.text }}</p>
            </div>
            <!-- /.carousel-caption -->

        </slide>
    </carousel>

    <div class="hero-unit">
        <h1>Welcome to Healthy Living</h1>

        <p>This is a Rapid Prototype demo how you can use AngularJS with Angular
           UI
           and Bootstrap to quickly build a clickable prototype for clients.</p>
    </div>
    <!-- /.hero-unit -->
    <div class="container-fluid marketing">
        <div class="row-fluid">
            <div class="col-md-4 col-lg-4"
                 ng-repeat="block in content">
                <img class="img-circle"
                     ng-src="{{ block.img }}" />

                <h2>{{ block.title }}</h2>

                <p>{{ block.summary }}</p>
            </div>
            <!-- /.col-md-4 col-lg-4 -->
        </div>
        <!-- /.row-fluid -->
    </div>
    <!-- /.container marketing -->
</div><!-- /#index -->
